# Modelling the Fano 2024, Italy dengue outbreaks: The effects of control strategies and environmental extremes
**Author:** Sandeep Tegar<sup>1, 2</sup> and Dominic P. Brass<sup>1</sup> 

**Contact:** santeg@ceh.ac.uk  
**Date:** 2025-03-17   
**Affiliation:**
1. UK Centre for Ecology & Hydrology, Benson Lane, Wallingford, Oxfordshire, UK
2. School of Mathematics and Statistics, College of Science and Engineering, University of Glasgow, Glasgow, UK   


## Overview  
This notebook contains the code used in our study. It estimates the average climate from 2019-2023  

## Requirements  
- python 3.9.21+ 
- Required libraries: `pandas`
- ERA5 climate data file "fano_climate.csv", coulmns: time, logitude, latitude, t2m, tp, evaow, where 't2m', 'tp', and 'evaow' stand for  "2m_temperature", "total_precipitation", and "evaporation_from_open_water_surfaces_excluding_oceans", respectively. Source: https://cds.climate.copernicus.eu/datasets/reanalysis-era5-land?tab=overview

## Usage  
Save all the required files in the working directory and simply run the cells in order to reproduce the results.

In [1]:
# load the required package
import pandas as pd

In [2]:
# Read the CSV file
data = pd.read_csv("fano_climate.csv")  # Replace 'your_file.csv' with the actual filename

In [3]:
# Convert the 'time' column to datetime format
data['time'] = pd.to_datetime(data['time'])

# Extract year and day-month for grouping
data['year'] = data['time'].dt.year
data['day_month'] = data['time'].dt.strftime('%d-%b')

# Define the range of dates of interest
date_range = ["13-Sep", "14-Sep", "15-Sep", "16-Sep", "17-Sep", "18-Sep", "19-Sep", "20-Sep", "21-Sep", "22-Sep", "23-Sep", "24-Sep"]

# Filter data for the specified day-months and year range (2019 to 2023)
data = data[(data['year'] >= 2019) & (data['year'] <= 2023)]

# Calculate the average over years for the specified day-months
result = []
for day_month in date_range:
    filtered_data = data[data['day_month'] == day_month]
    mean_t2m = filtered_data['t2m'].mean()
    mean_tp = filtered_data['tp'].mean()
    result.append({
        'date': day_month,
        'mean_t2m': mean_t2m,
        'mean_tp': mean_tp
    })

# Create a DataFrame from the result
average_data = pd.DataFrame(result)

In [ ]:
# print the average data
average_data

      date   mean_t2m       mean_tp
0   13-Sep  23.278149  8.326673e-15
1   14-Sep  23.730373  4.401026e-03
2   15-Sep  23.053523  5.998091e-01
3   16-Sep  23.102431  3.991490e+00
4   17-Sep  22.468396  1.212577e+00
5   18-Sep  22.234818  2.820895e+00
6   19-Sep  21.504278  3.366778e+00
7   20-Sep  20.478219  4.471364e+00
8   21-Sep  19.323711  1.209951e+00
9   22-Sep  19.901227  5.207284e+00
10  23-Sep  19.561628  4.970166e+00
11  24-Sep  19.511972  5.103796e+00

In [ ]:
# Uncomment to write the resulting DataFrame to a new CSV file
#average_data.to_csv("average_trend_2019_2023.csv", index=False)

#print("Data processing complete. Averages saved to 'average_trend_2019_2023.csv'.")

Data processing complete. Averages saved to 'average_trend_2019_2023.csv'.